.presentation {
    display: flex;
    flex-direction: column;
    justify-content: left;
}   

h1 {
    display: flex;
    justify-content: center;
  text-shadow: 2px 2px #ff0000;
}

h2 {
    display: flex;
    justify-content: center;
     text-shadow: 2px 2px #0011ff;
}

.navigation {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 10px;
    background-color: #1bbbd4;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #7e1f16;
    border: 5px solid rgb(54, 28, 172);

}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 50vw;
    border-width: 20px 400px;
    background-image: url("starry-night-sky-background-with-meteors-illustration-vector.jpg");
    color: white;
}

.photo-contact {
    display: flex;
    flex-direction: row-reverse;
    row-gap: 20px;
}

.profile-photo {
    display: flex;
    width: 200px;
    height: 250px;
    border: 5px solid rgb(255, 2, 2);
}


figcaption {
    text-align: center;
}

.contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0f655e;
    border: 5px solid rgb(255, 0, 0);
    width: 250px;
    height: 280px;
    margin-top: 16px;
}

.education {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #b47abf;
    width: 600px;
    height: 180px;
    border: 5px solid rgb(255, 0, 0);
    margin-top: 16px;
}

.education-p {
    text-align: center;
    max-width: 600px;
}

.professional {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #108193;
    border: 5px solid rgb(255, 0, 0);
    margin-top: 16px;
}


.skills {
    display: flex;
    flex-direction: column;
    background-color: #b47abf;
    border: 4px solid red;
    width: 200px;
}

.references {
    display: flex;
    flex-direction: column;
    background-color: #b47abf;
    border: 4px solid red;
    width: 350px;
}

.skills-references {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 15px
}

.achievements{
    display: flex;
    background-color: #108193 ;
    border: 5px solid red;
}

.go-top {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.courses {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: left;
    background-color: rgb(20, 51, 162);
    width: 500px;
    border: 5px solid red;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid white;
    padding: 5px;
}

.achievements {
    background-color: #1bbbd4;
    border-color: 5px solid red;
}

footer {
    display: flex;
    flex-direction: column;    
    align-items: center;

}

.go-top{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aquamarine;
    border: 3px solid #b47abf;
    width: 140px;
}