.presentation {
    display: flex;
    flex-direction: column;
    justify-content: left;
}   

/*got it from a yt video cause it looked cool*/

@property --angle {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
}

@keyframes spin {
    from { --angle: 0deg; }
    to { --angle: 360deg; }
}

.card {
    position: relative;
    margin: 0 auto;
    padding: 2em;
    width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url("starry-night-sky-background-with-meteors-illustration-vector.jpg");
    text-align: center;
    border-radius: 10px;
}

.card::after, .card::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle),#ff4545, #00ff99, #006aff, #ff0095, #ff4545);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 3px;
    border-radius: 10px;
    animation: 3s spin linear infinite;
}

.card::before{
    filter: blur(1.5rem);
    opacity: 0.5;
}

/* -----------------------------------------------------------------------------------------------------------------*/

/*Universal selector (whole page changes its font) */

* {
    font-family: "Audiowide", sans-serif;
}

/*Title decoration using ID selector because there can only be one ID on the website*/

#name {
    display: flex;
    justify-content: center;
  text-shadow: 2px 2px #ff0000;
}

/*Subtitle decoration using element selector*/

h2 {
    display: flex;
    justify-content: center;
     text-shadow: 2px 2px #0011ff;
}

/*Nav bar decoration and displayed as a row plues the hover change of color*/

.navigation {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 20px;
    background-color: #1bbbd4;
}

.navigation a:hover{
    background-color: red;
}

/*Form decoration, added some cool colors*/

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #7e1f16;
    border: 5px solid rgb(54, 28, 172);

}

input[type="text"],
input[type="password"],
input[type="number"]{
    background-color: rgb(39, 9, 120);
    border: 3px solid aquamarine;
    color: white;
}

.form button{
    color: rgb(39, 9, 120);
    background-color: aquamarine;
}

/*Added a backround image that makes it look super cool like starwars*/

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 50vw;
    border-width: 20px 400px;
    background-image: url("starry-night-sky-background-with-meteors-illustration-vector.jpg");
    color: white;
}

/*Displays the photo on the left and contact info on the right because of the row reverse plus
cool hover animation on each of the boxes*/

.photo-contact {
    display: flex;
    flex-direction: row-reverse;
    row-gap: 20px;
}

.profile-photo {
    display: flex;
    width: 200px;
    height: 250px;
    border: 5px solid rgb(255, 2, 2);
}

.profile-photo:hover{
    transform: scale(1.009);
    box-shadow: 0 0 20px #ff0000;
}

/*Aligned using element selector to be centered with the photo*/

figcaption {
    text-align: center;
}

/*Contact info decoration and hover animation*/

.contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0f655e;
    border: 5px solid rgb(255, 0, 0);
    width: 250px;
    height: 280px;
    margin-top: 10px;
    justify-content: flex-end;
}

.contact-info:hover{
    transform: scale(1.009);
    box-shadow: 0 0 20px red;
}

/*Education decoration and adjusts to the content and box location plus hover animation*/

.education {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #b47abf;
    width: 600px;
    height: 200px;
    border: 5px solid rgb(255, 0, 0);
    margin-top: 15px;
    justify-content: flex-end;
}

.education:hover{
    transform: scale(1.009);
    box-shadow: 0 0 20px red;
}

.education-p {
    text-align: center;
    max-width: 600px;
}

/*Used a child connector for all the a in .education and added a hover animation to it*/

.education a:hover {
    background-color: yellow;
}

/*Professional box displayed better with decoration and hover animation*/

.professional {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #108193;
    border: 5px solid rgb(255, 0, 0);
    margin-top: 16px;
    justify-content: flex-start;
}

.professional:hover{
    transform: scale(1.009);
    box-shadow: 0 0 20px red;
}

/*Child selector for abbr which gives it a hover animation*/

.professional abbr:hover{
    background-color: rgb(210, 9, 210);
}

/*Skills decoration, alignment and hover animation*/

.skills {
    display: flex;
    flex-direction: column;
    background-color: #b47abf;
    border: 4px solid red;
    width: 220px;
    height: 260px;
}

.skills:hover{
    transform: scale(1.009);
    box-shadow: 0 0 20px red;
}

/*References box adjust position, decoration and hover animation*/

.references {
    display: flex;
    flex-direction: column;
    background-color: #b47abf;
    border: 4px solid red;
    width: 350px;
    margin-right: -15px;
}

.references:hover{
    transform: scale(1.009);
    box-shadow: 0 0 20px red;
}

/*Skills and references boxes placement*/


.skills-references {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 15px
}

/*Achievements decoration and hover animation*/

.achievements{
    display: flex;
    background-color: #108193 ;
    border: 5px solid red;
    flex-direction: column;
}

.achievements:hover{
    transform: scale(1.009);
    box-shadow: 0 0 20px red;
}

/*Extra anchor because it was annoying to scroll back up*/

.go-top {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

/*Courses table decoration, size adjustement, and position fix plus hover animation*/

.courses {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: left;
    background-color: rgb(20, 51, 162);
    width: 500px;
    border: 5px solid red;
}

.courses:hover{
    transform: scale(1.009);
    box-shadow: 0 0 20px red;
}

/*Added a cool looking white outline to the table*/

th, td {
    border: 1px solid white;
    padding: 5px;
}

/*Gave the top elements a different color because they are like a title for the table plus cool hover animation*/

th:nth-child(odd){
    background-color: #0f0367;
}

th:nth-child(even){
    background-color: #0f0367;
}

tr:hover{
    transform: scale(1.009);
    background-color: rgb(102, 16, 16);
}

/*Changes achievements color*/

.achievements {
    background-color: #1bbbd4;
    border-color: 5px solid red;
}

/*Just centers that <small> element that I added*/

footer {
    display: flex;
    flex-direction: column;    
    align-items: center;

}

/*Last anchor decoration and fixed position plus cool hover animation*/

.go-top{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aquamarine;
    border: 3px solid #b47abf;
    width: 140px;
}

.go-top:hover{
    background-color: red;
}
